<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.48.0" targetFramework="net452" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.48.0" targetFramework="net452" />
  <package id="AutoFixture.Xunit" version="3.48.0" targetFramework="net452" />
  <package id="FakeItEasy" version="1.25.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.10.0" targetFramework="net452" />
  <package id="IQ.Platform.TestUtilities" version="7.0.2" targetFramework="net452" />
  <package id="xunit" version="1.9.2" targetFramework="net452" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net452" />
</packages>